<!DOCTYPE html>
<html>
<head>
    <title>Homework 2</title>
<style>
body {
    background-color: white;
}

div.width {
    width:800px;
    margin: auto;
    border: 0px solid #FFFFFF;
}

h1 {
    color: black;
    text-align: center;
}

h2{
    color: black;
    text-align: left;
    font-style: italic;
    text-decoration: underline;
    font-size: 20px;
}

p.title {
    font-size: 20px;
    text-align:center;
    font-style: italic;
}

p {
    font-size: 16px;
    text-align:left;
}

hr {
    height: 2px; 
    color: #33cc33;
    background: #33cc33;
    font-size: 0;
    border:0;
    width: 50%;
}

img {
    display: block;
    margin: auto;
}

</style>
</head>
<body>

<h1>Maldonado, Celina</h1>
<hr>
<p class="title">Welcome to IS445 Homework 2</p>
<img src="https://i.imgur.com/Es9ysNr.jpg" alt="Celina Maldonado" style="width:25%">


<div class="width">

<h2>Education</h2>
<ul class=1>
        <li>2017, B.S., Informational Systems, California State University Long Beach</li>
</ul>

<h2>Work Experience</h2>
<ol class=1>
        <li>Customer Experience Specialist, Tesla, Present</li>        
        <li>Server, Sapori Ristorante, 1 year</li>
        <li>Server, Tilted Kilt Pub and Eatery, 2 years</li>
    </ol>

<h2>Expectation for this course</h2>
<p> I am eager to learn the basic concepts of web design so I can further my web development skills to gain a job in the tech industry. I expect this course to teach me how to publish a webpage onto the internet for sharing.
        
</div>

</body>
</html>


